/**/

h1{
  color: black;
  font-family: fantasy;
  text-align: center;

}
p{
  color: black;
  font-family: fantasy;
  text-align: left;

}
body{
  background-color: lightblue;
  height:100px;
  width: 100%;
}

img{
  border-radius: 80px;
}
.btn{
  margin-left: 43px ;
}